---
import Base from "../layouts/Base.astro";
import { getOffres } from "../backend.mjs";

const { ...offre } = Astro.props;
---

<li>
    <img src={offre.image_url} alt={offre.nom_maison} />
    <h2>{offre.nom_maison}</h2>
</li>
<a href={`/offres/${offre.id}`}>Voir plus</a>

<script>
    //@ts-nocheck
    import { setFavori } from "@src/backend.mjs";
    window.setFavori = setFavori;
</script>