---
import Header from "../components/Header.astro";

const { titre } = Astro.props;
---

<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <title>{titre}</title>
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
    </body>
</html>
